# LocalStack configuration
LOCALSTACK_ENDPOINT=http://localhost:4566
AWS_DEFAULT_REGION=us-east-1
AWS_ACCESS_KEY_ID=test
AWS_SECRET_ACCESS_KEY=test

# Terraform variables
TF_VAR_project_name=teleops
TF_VAR_environment=local
TF_VAR_db_password=LocalStack123!
